.banner{
    height: 100vh;
    background-image: url("../img/banner.jpeg");
    @extend %backgroundImg;
    display: flex;
    justify-content: center;
    align-items: center;
    .banner__content{
        text-align: center;
        text-transform: uppercase;
        h1{
            @include styleText($fs-8,$fw-1,$color-white-0);
            letter-spacing: $ls-3;
            line-height: normal;
        }
        h2{
            @include styleText($fs-2,$fw-2,$color-white-0);
            letter-spacing: $ls-3 + 1;
        }
    }

    // RESPONSIVE
    @media screen and (min-width: 769px){
        .banner__content{
            h1{
                font-size: $fs-0;
            }
            h2{
                font-size: $fs-3;
            }
        }
    }
}